.about {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;

  max-width: 128rem;
  margin: 0 auto;
  padding: 8rem 2.4rem 0;
}

.title {
  font-size: 6.4rem;
  font-weight: 900;
  line-height: 1.1;

  @media (width <= 76.8rem) {
    font-size: 4rem;
  }
}

.subtitle {
  max-width: 60rem;
  font-size: 2rem;
  line-height: 1.6;
}

.description {
  max-width: 60rem;
  font-size: 1.6rem;
  line-height: 1.6;
}

.catalogBtn {
  width: fit-content;
  margin-top: 1.6rem;
  padding: 0;
  border: none;

  background: none;

  a {
    display: inline-flex;
    gap: 1.2rem;
    align-items: center;

    padding: 1.6rem 3.2rem;
    border-radius: 1.2rem;

    font-size: 1.6rem;
    font-weight: 700;
    color: #fff;
    text-decoration: none;

    background-color: #2563eb;
    box-shadow: 0 1rem 2rem rgb(37 99 235 / 0.1);

    transition: all 0.2s ease;

    &:hover {
      transform: translateY(-2px);
      background-color: #1d4ed8;
    }

    &:active {
      transform: scale(0.95);
      transform: translateY(-1px);
    }
  }
}
