:root {
  --color-primary: #6366f1;
  --color-primary-hover: #4f46e5;
  --color-bg: #fff;

  --color-text: #1e293b;
  --color-text-secondary: #64748b;

  --color-border: #e2e8f0;
  --border-default: 0.1rem solid var(--color-border);

  --shadow-button: 0 0.6rem 1rem rgb(99 102 241 / 0.2);

  --transition-default: 0.3s ease;
}
