.chosen {
  width: 128rem;
  margin: 2.8rem auto 2.8rem auto;
  padding: 0 2.4rem;
}

.chosenContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
}

.title {
  font-size: 2.6rem;
  margin-top: -0.7rem;
}

.subtitle {
  font-weight: 400;
  font-size: 2rem;
  color: var(--color-text-secondary);
  margin-bottom: 1.6rem;
}

.empty {
  color: var(--color-primary);
  font-weight: 500;
  margin-left: 2rem;
}
