.filmsCatalog {
  flex: 1;
}

.searchInputContainer {
  position: relative;
  margin-bottom: 2rem;
}

.filmsContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.searchInput {
  width: 100%;
  padding: 0.8rem 1.6rem;
  border: 2px solid var(--color-border);
  border-radius: 1rem;

  font-family: inherit;
  font-size: 1.6rem;

  box-shadow: 0 1rem 2rem rgba($color: #222, $alpha: 0.1);
}

.searchLogo {
  position: absolute;
  top: 46%;
  right: 1.5rem;
  transform: translateY(-50%);
}
