.modal {
  position: fixed;
  z-index: 101;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 48rem;
  border: var(--border-default);
  border-radius: 1.6rem;

  background: var(--color-bg);
  box-shadow: 0 2rem 4rem rgb(0 0 0 / 0.1);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 1.6rem 2rem;
  border-bottom: var(--border-default);
}

.title {
  margin: 0;
  font-size: 1.8rem;
  font-weight: 600;
  color: var(--color-text);
}

.content {
  padding: 2rem;
}
