.fromToRow {
  display: flex;
  gap: 0.8rem;
  align-items: center;
  justify-content: space-between;

  margin-bottom: 0.8rem;
}

.fromToValue {
  flex: 1;

  padding: 0.4rem 0.8rem;
  border: 1px solid var(--color-border);
  border-radius: 0.8rem;

  font-size: 1.4rem;
  white-space: nowrap;

  background-color: var(--color-bg-secondary);
}

.slider {
  width: 90%;
  margin: 0 auto 1.6rem;
}
